@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  font-family: Roboto;
  color: rgb(253, 253, 253);
}

/*
This is to set a navigation bar
*/
.navbar{
  position: relative;
  padding: 25px;
  padding-right: 943px;
  display: flex;
  align-items: center;
  width: 500px;
  max-width: 100%;
  align-content: center;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-right: 3px solid white;
  background-color: rgb(57, 60, 53);
}

.navbar login{
  display: Flex;
  margin-left: 1300px;
}

.navbar a{
  text-decoration: none;
}

.navbar a:hover{
  background-color: blanchedalmond;
  color:rgb(47, 7, 59);
}

/*
This is to set a sidebar for the different chat rooms
*/

.roomBar{
  padding: 10px;
  display: flex;
  align-items: right;
  position: absolute;
  width: 300px;
  border-right: 3px solid rgb(255, 255, 255);
  height: 727px;
  background-color: rgb(57, 60, 53);
}

/*
This section styles the chat box
*/

.chatBox{
  padding: 10px;
  position: absolute;
  top: 91px;
  left: 323px;
  border-top: 3px white;
  display: flex;
  height: 727px;
  width: 1125px;
  background-color: rgb(57, 60, 53);
}

.inputBox{
  margin: 50px;
  position: absolute;
  top: 600px;
  left: 130px;
  display: flex;
  vertical-align: bottom;
  width: 800px;
  color: black;
  border: none;
}

.inputBox :focus-visible{
  outline: none;
}

.customInput{
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
  background-color: rgb(37, 39, 34);
  color: white;
}
