@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

body {
  background-color: rgb(57, 60, 53);
}

* {
  margin: 0;
  font-family: Roboto;
  /*color: rgb(253, 253, 253); */
  /*color: black;*/
  color:rgb(5, 207, 5)
}

.navbar{
  position: relative;
  padding: 25px;
  padding-right: 943px;
  display: flex;
  align-items: center;
  width: 500px;
  max-width: 100%;
  align-content: center;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-right: 3px solid white;
  background-color: rgb(44, 46, 42);
  
}

.login-out{
  position: absolute;
  margin-left: 15px;
  display: Flex;
  left: 1050px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  padding: 8px;
  display: inline-block;
}

.login-out:hover{
  background-color: gray;
  transition: 0.2s;
  cursor: pointer;
}
.login-out:active{
  background-color: gray;
}

.navbar a{
  text-decoration: none;
}

/*
This is to set a sidebar for the different chat rooms
*/

.roomBar{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: right;
  position: relative;
  overflow-x: hidden;
  z-index: 1000;
  width: 300px;
  border-right: 3px solid rgb(255, 255, 255);
  height: 688px;
  background-color: rgb(44, 46, 42);
}

.inputRoom{
  width: 100%;
  margin: 10px;
  max-width: 200px;
  height: 30px;
  padding: 6px 13px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  background-color: rgb(37, 39, 34);
  color: white;
}

.inputRoom:focus-visible{
  outline: none;
}

.createButton{
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  padding: 8px;
  display: inline-block;
}

.createButton:hover{
  background-color: rgb(156, 156, 156);
  transition: 0.2s;
  cursor: pointer;
}

.roomBubble{
  background-color: white;
  margin-top: 20px;
  display: flex;
  right: 50px;
  color: black;
  padding: 15px;
  border-radius: 3px;
  align-content:center;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  align-items: center;
}

.roomBubble:hover{
  background-color: gray;
  transition: 0.2s;
  cursor: pointer;
}

.addUserButton{
  background-color: white;
  display: flex;
  cursor: pointer;
  position: absolute;
  left: 250px;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}

.addUserButton:hover{
  background-color: inherit;
}

.addUserIcon{
  width: 24px;
  height: 24px;
  pointer-events: auto;
}

.contextMenu{
  position: absolute;
  background-color: rgb(39, 38, 38);
  flex-direction: column;
  color: white;
  border: solid 1px;
  border-radius: 5px;
  z-index: 1000;
  margin-top: -135px;
  margin-left: 10px;
  padding: 10px;
  width: 150px;
}

.contextSearch{
  width: 93%;
  color: black;
  padding: 5px;
  margin-bottom: 12px;
  border: none;
  border-radius: 5px;
}

.contextSearch:focus-visible{
  outline: none;
}

.contextList{
  overflow: hidden;
  text-overflow: ellipsis;
}

.contextItem {
  padding: 5px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.contextItem:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  transition: 0.2s;
}

.contextClose {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contextClose:hover {
  background-color: gray;
  transition: 0.2s;
}

/*
This section styles the chat box
*/

.chatBox{
  padding: 10px;
  position: absolute;
  top: 72px;
  left: 323px;
  border-top: 3px white;
  z-index: 0;
  display: flex;
  height: 750px;
  width: 1125px;
  background-color: rgb(57, 60, 53);
}

.inputBox{
  margin: 50px;
  position: absolute;
  top: 620px;
  left: 40px;
  display: flex;
  vertical-align: bottom;
  width: 800px;
  color: black;
  border: none;
}

.inputBox :focus-visible{
  outline: none;
}

.customInput{
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
  background-color: rgb(37, 39, 34);
  color: white;
}

.sendButton{
  background-color: rgb(37, 39, 34);
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 10px;
  color: white;
  border-radius: 5px;
  border-color: none;
  border-width: 0px;
  padding: 15.5px;
  display: flex;
}

.sendButton:hover{
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}

.sendButton:active{
  background-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35)
}

.scrollChat{
  width: 900px;
  height: 550px;
  display:flex;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  top: 30px;
  margin: 20px;
  background-color: rgb(57, 60, 53);
  border-color: azure;
}

.customBub{
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  background-color: rgb(37, 39, 34);
  width: fit-content;
  max-width: 900px;
  height: fit-content;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  line-height: 23px;
  font-size: 15px;
}

.message{
  overflow-wrap: anywhere;
  color: rgb(212, 212, 212);
}

.userList{
  background-color: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: white solid 2px;
  left: 1000px;
  padding: 6.5px;
  top: -2px;
  width: 130px;
  max-height: 600px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.userLine{
  display: flex;
  padding-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.userItem{
  width: 90px;
  overflow: hidden;
  align-items: center;
  color: white;
  text-overflow: ellipsis;
  word-break: normal;
  padding: 5px;
  white-space: nowrap;
  line-height: 15px;
}

.removeUser{
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
}

.removeUser:hover{
  background-color: rgb(117, 0, 0);
  cursor: pointer;
  transition: 0.2s;
}

.redButton{
  background-color: red;
  color: white;
  position: absolute;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.redButton:hover{
  background-color: rgb(134, 0, 0);
  transition: 0.2s;
  cursor: pointer;
}

/* Login and Register Styling*/
.login-page{
  background-color: rgb(57, 60, 53);
  color: rgb(57, 60, 53);
  padding: 10px;
  height: 800px;
}

.text{
  font-size: 45px;
  max-width: 600px;
  text-align: center;
  overflow-wrap: break-word;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 90px;
}

.inputLogin{
  margin: 50px;
  position: absolute;
  top: 200px;
  left: 150px;
  display: flex;
  vertical-align: bottom;
  width: 200px;
  color: black;
  border: none;
}

.inputLogin :focus-visible{
  outline: none;
}

.customInputLogin{
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
  background-color: rgb(37, 39, 34);
  color: white;
}

.submitButton{
  margin-bottom: 10px;
  background-color: rgb(37, 39, 34);
  text-decoration: none;
  position: relative;
  top: 350px;
  left: 90px;
  color: white;
  border-radius: 5px;
  border-color: none;
  border-width: 0px;
  padding: 15.5px;
  display: flex;
}

.submitButton:hover{
  color: rgb(167, 167, 167);
}

.submitButton:active{
  color: rgb(72, 72, 72);
}